.featured {
    margin-top: 5rem;
}

.featured .featured-text {
    text-align: center;
    margin: 1rem 0;
}

.featured .container {
    --gap: 1.2rem;
    --num-cols: 5;
    --row-height: 300px;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);

}

/* .featured .container-2-text {
    text-transform: uppercase;
} */

/* .featured .container-4 {
    --gap: 1.2rem;
    --num-cols: 5;
    --row-height: 300px;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    background-color: black;
} */

.overlay-text2 {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
    /* Background color with opacity */
    color: white;
    /* Text color */
    padding: 10px;
    /* Adjust padding as needed */
    font-size: 35px;
    /* Adjust font size as needed */
    font-weight: bold;
    background: radial-gradient(rgba(46, 42, 42, 0.5), transparent);
    white-space: nowrap;
}

.image-smith {
    width: 500px;
    height: 500px;
}

.overlay-text {
    position: absolute;
    top: 63%;
    left: 70%;
    transform: translate(-50%, -50%);
    background: radial-gradient(rgba(46, 42, 42, 0.5), transparent);
    /* Background gradient with opacity */
    color: rgb(255, 255, 255);
    /* Text color */
    padding: 10px;
    /* Adjust padding as needed */
    font-size: 40px;
    /* Adjust font size as needed */
    font-weight: bold;
    border-radius: 10px;
    /* Adjust the radius as needed for more or less roundness */
}

.featured .amplify-text {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    font-family: Georgia;
}

.featured .container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured .container-2 {
    display: grid;
    grid-template-columns: 50% 50%;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: center;
    /* Horizontal centering */
    align-items: center;
    /* Vertical centering */
    text-align: center;
    /* Horizontal centering */
    font-size: 20px;
}



.featured .container-2>div {
    background: #d3c9c9;
    padding: 2em;
}

.featured .container-2>div:nth-child(odd) {
    background: #c9bcbc;

}

.featured .container-3 .our-products {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    font-family: Georgia;
    font-weight: bold;
}


.span-3 {
    grid-column: span 3;
}

.span-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.right-img-details .btn {
    margin: 1rem 0;
}

.featured .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured .top .price {
    font-weight: 600;
    color: #008000;
    font-size: 1.5rem;
}

.featured .info {
    display: flex;
    justify-content: space-between;
    margin: .8rem 0;
    width: 60%;
}

.featured .bold {
    font-weight: 600;
    margin-right: 1rem;
}

@media screen and (max-width: 1024px) {
    .featured .container {
        --num-cols: 2;
        --row-height: 200px;
        --grap: .5rem;
    }

    .span-3 {
        grid-column: span 2;
    }

    .order-1 {
        order: 1;
    }

    .order-2 {
        order: 2;
    }

    .order-3 {
        order: 3;
    }

    .order-4 {
        order: 4;
    }

    .order-5 {
        order: 5;
    }

    .order-6 {
        order: 6;
    }

    .order-7 {
        order: 7;
    }

    .overlay-text {
        font-size: 20px;
        /* Adjust font size for mobile */
        text-align: left;
        top: 70%;
    }


    .overlay-text2 {
        font-size: 20px;
        /* Adjust font size for mobile */
        text-align: left;
        top: 70%;
    }

    .featured .container-2 {
        width: 80vw;
        height: 80vh;
    }

}



@media screen and (max-width: 768px) {
    .featured .container {
        --num-cols: 2;
        --row-height: 200px;
        --grap: .5rem;
        width: 100vw;
        height: 100vh;
    }

    .span-3 {
        grid-column: span 2;
    }

    .order-1 {
        order: 1;
    }

    .order-2 {
        order: 2;
    }

    .order-3 {
        order: 3;
    }

    .order-4 {
        order: 4;
    }

    .order-5 {
        order: 5;
    }

    .order-6 {
        order: 6;
    }

    .order-7 {
        order: 7;
    }

    .overlay-text {
        font-size: 20px;
        /* Adjust font size for mobile */
        text-align: left;
        top: 70%;
        width: 100vw;
        height: 100vh;
    }

    .overlay-text2 {
        /* font-size: 20px;
        /* Adjust font size for mobile */
        text-align: left;
        top: 70%;
        width: 100vw;
        height: 100vh;
    }

    .featured .container-2 {
        width: 100vw;
        height: 100vh;
    }
}